<div class="flex-auto" ng-show="$ctrl.config.filter.mobile !== 'incoming'">
          <!-- ngRepeat: question in $ctrl.mobileQuestions | limitTo:$ctrl.config.limits.public track by question.event_question_id --><div class="question bg-white ng-scope" ng-repeat="question in $ctrl.mobileQuestions | limitTo:$ctrl.config.limits.public track by question.event_question_id" ng-class="{
              'is-highlighted': question.is_highlighted &amp;&amp; $ctrl.config.filter.public != 'archived' &amp;&amp; !$ctrl.isPublicFilterTop(),
              'is-pinned': question.is_bookmarked
            }" ng-show="!(question.is_highlighted &amp;&amp; $ctrl.isPublicFilterTop())" ng-click="$event.stopPropagation();$ctrl.setQuestion(question)">
            <div class="question__header flex items-center l-mb1">
              <user-avatar image="question.author.attrs.avatar" name="question.author.name" revert="question.is_highlighted" class="ng-isolate-scope"><div ng-class="{'revert': $ctrl.revert}" class="user-avatar  l-mr1" ng-switch="$ctrl.getType()">

  <div class="flex flex-center flex-x-center">
    <!-- ngSwitchWhen: initials -->

    <!-- ngSwitchWhen: icon --><div ng-switch-when="icon" class="ng-scope">
      <svg-icon icon="md-person" class="ui-f-white icon-size14 block ng-isolate-scope"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"></path></svg></svg-icon>
    </div><!-- end ngSwitchWhen: -->

    <!-- ngSwitchWhen: image -->
  </div>
</div>
</user-avatar>
              <div class="overflow-hidden">
                <div class="question__author truncate ng-binding">Anonymous</div>
                <div class="question__when">
                  <span class="question__like">
                    <span class="inline-block va-middle ng-binding">0 </span>
                    <svg-icon icon="like-o" class="ui-f-grey-2 icon-size12 ng-isolate-scope"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>like-o</title><path d="M22.391 13.397c0.096 0.338 0.145 0.675 0.145 1.013 0 0.723-0.193 1.447-0.579 2.073 0.048 0.193 0.048 0.434 0.048 0.627 0 0.916-0.289 1.832-0.868 2.556 0.048 2.748-1.832 4.34-4.484 4.34h-1.881c-2.025 0-3.954-0.627-5.834-1.254-0.434-0.145-1.591-0.579-1.977-0.579h-4.147c-1.061 0-1.881-0.82-1.881-1.881v-9.21c0-1.013 0.82-1.832 1.881-1.832h3.906c0.579-0.386 1.543-1.688 1.977-2.266 0.53-0.627 1.013-1.254 1.543-1.832 0.868-0.916 0.434-3.182 1.881-4.629 0.338-0.289 0.771-0.53 1.302-0.53 1.495 0 2.941 0.53 3.616 1.929 0.434 0.916 0.53 1.736 0.53 2.7 0 1.013-0.289 1.881-0.723 2.748h2.556c1.977 0 3.665 1.688 3.665 3.713 0 0.82-0.241 1.639-0.675 2.314zM19.402 9.251h-5.063c0-1.688 1.35-2.941 1.35-4.629s-0.289-2.748-2.266-2.748c-0.964 0.916-0.482 3.134-1.881 4.581-0.386 0.434-0.723 0.868-1.109 1.302-0.627 0.868-2.363 3.327-3.472 3.327h-0.482v9.21h0.482c0.771 0 2.122 0.53 2.893 0.82 1.591 0.53 3.231 1.061 4.918 1.061h1.736c1.639 0 2.797-0.675 2.797-2.411 0-0.289-0.048-0.579-0.096-0.82 0.627-0.338 0.964-1.157 0.964-1.832 0-0.338-0.096-0.675-0.289-0.964 0.53-0.482 0.771-1.061 0.771-1.736 0-0.482-0.193-1.157-0.482-1.495 0.675 0 1.061-1.302 1.061-1.832 0-0.964-0.868-1.832-1.832-1.832z"></path></svg></svg-icon>
                  </span>
                  <!-- ngIf: $ctrl.event.attrs.questions.enable_downvote -->
                  <span class="inline-block va-middle">
                    <span class="question__dot">•</span>
                    <span ng-hide="question.is_public" class="ng-binding ng-hide">
                      today, 7:16pm
                    </span>
                    <span ng-show="question.is_public" class="ng-binding">
                      today, 7:16pm
                    </span>
                  </span>
                  <span class="inline-block va-middle ng-hide" ng-show="question.is_answered &amp;&amp; !question.is_public">
                    <span class="question__dot">•</span>
                    <span class="c-red">(unapproved)</span>
                  </span>
                </div>
              </div>
            </div>
            <div class="question__text ng-binding">
              你們會不會講中文
            </div>
            <div class="question__reply pointer ng-hide" ng-show="question.attrs.replies_count > 0">
              <span>
                <svg-icon icon="reply" class="icon-size12 ng-isolate-scope"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>reply</title><path d="M24 15.445c0 1.5-0.563 3.516-1.688 6.047-0.047 0.047-0.094 0.141-0.141 0.328-0.094 0.141-0.141 0.281-0.188 0.375-0.047 0.141-0.141 0.234-0.188 0.328-0.094 0.141-0.234 0.188-0.375 0.188s-0.234-0.047-0.328-0.094c-0.047-0.094-0.094-0.234-0.094-0.375 0-0.047 0-0.188 0.047-0.328 0-0.141 0-0.281 0-0.328 0.047-0.609 0.094-1.172 0.094-1.641 0-0.891-0.094-1.688-0.234-2.438-0.141-0.703-0.375-1.313-0.656-1.828s-0.656-0.984-1.078-1.359c-0.422-0.375-0.891-0.703-1.406-0.938s-1.078-0.422-1.781-0.563c-0.703-0.141-1.359-0.234-2.063-0.281s-1.453-0.094-2.344-0.094h-3v3.422c0 0.234-0.094 0.422-0.281 0.609-0.141 0.188-0.328 0.234-0.563 0.234s-0.469-0.047-0.609-0.234l-6.891-6.844c-0.141-0.188-0.234-0.375-0.234-0.609s0.094-0.422 0.234-0.609l6.891-6.844c0.141-0.188 0.375-0.281 0.609-0.281s0.422 0.094 0.563 0.281c0.188 0.141 0.281 0.375 0.281 0.609v3.422h3c6.375 0 10.266 1.781 11.719 5.391 0.469 1.172 0.703 2.672 0.703 4.453z"></path></svg></svg-icon>
              </span>
              <span class="ui-c-grey-1 ng-binding"> replies</span>
            </div>
            <div class="question__actions">
              <action-state item="question" class="ng-isolate-scope"><span ng-show="$ctrl.item._state == 'pending'" class="action-checker-icon action-checker-icon__spinner spinner ng-hide">
</span>
<span class="action-checker-icon action-checker-icon__warning ng-hide hint--bottom" ng-show="$ctrl.item._state == 'failed'" ng-class="$ctrl.hintPosition" data-hint="Action failed. Please try refreshing your browser.">
  <svg-icon icon="md-error-outline" class="icon-size16 ui-f-red ng-isolate-scope"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M11 15h2v2h-2zm0-8h2v6h-2zm.99-5C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"></path></svg></svg-icon>
</span>
</action-state>
              <!-- Live and Pinned -->
              <span ng-hide="question.is_answered" class="ng-hide">
                <button class="btn btn-clear l-mr05 ng-hide" ng-show="question.is_highlighted" ng-click="$event.stopPropagation(); $ctrl.EventQuestionsActions.restore(question)">
                  <svg-icon icon="unhighlight" class="question__actions-button ui-f-white ng-isolate-scope"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>unhighlight</title><path d="M12 24c6.628 0 12-5.372 12-12s-5.372-12-12-12-12 5.372-12 12 5.372 12 12 12zM12 0.716c6.234 0 11.284 5.050 11.284 11.284s-5.050 11.284-11.284 11.284-11.284-5.050-11.284-11.284 5.050-11.284 11.284-11.284v0z"></path><path d="M15.469 9.469l1.097 1.094-4.659 4.656-4.659-4.656 1.097-1.094 3.563 3.553z"></path></svg></svg-icon>
                </button>
                <button class="btn btn-clear l-mr05" ng-show="!question.is_highlighted" ng-click="$event.stopPropagation(); $ctrl.EventQuestionsActions.highlight(question)">
                  <svg-icon icon="highlight" class="question__actions-button ui-f-blue-1 ng-isolate-scope"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>highlight</title><path d="M12 0c-6.628 0-12 5.372-12 12s5.372 12 12 12 12-5.372 12-12-5.372-12-12-12zM12 23.284c-6.234 0-11.284-5.050-11.284-11.284s5.050-11.284 11.284-11.284 11.284 5.050 11.284 11.284-5.050 11.284-11.284 11.284v0z"></path><path d="M8.781 16.704l-0.989-0.989 4.208-4.209 4.209 4.209-0.99 0.989-3.219-3.213-3.219 3.213zM8.781 12.495l-0.989-0.989 4.208-4.209 4.209 4.209-0.99 0.989-3.219-3.213z"></path></svg></svg-icon>
                </button>
                <button class="btn btn-clear" ng-click="$event.stopPropagation(); $ctrl.EventQuestionsActions.remove(question)">
                  <svg-icon icon="archive" class="ui-f-grey-5 question__actions-button ng-isolate-scope"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>archive</title><path d="M12 0c-6.628 0-12 5.372-12 12s5.372 12 12 12 12-5.372 12-12-5.372-12-12-12zM12 23.284c-6.234 0-11.284-5.050-11.284-11.284s5.050-11.284 11.284-11.284 11.284 5.050 11.284 11.284-5.050 11.284-11.284 11.284z"></path><path d="M16.763 7.281h-9.524c-0.376 0-0.681 0.305-0.681 0.681v1.359h10.883v-1.359c0-0.001 0-0.001 0-0.002 0-0.375-0.304-0.679-0.678-0.679z"></path><path d="M7.238 16.125c0 0.376 0.305 0.681 0.681 0.681h8.162c0.376-0 0.681-0.305 0.681-0.681v-6.122h-9.524v6.122zM10.98 11.363h2.040c0.376 0 0.681 0.305 0.681 0.681s-0.305 0.681-0.681 0.681h-2.040c-0.376 0-0.681-0.305-0.681-0.681s0.305-0.681 0.681-0.681z"></path></svg></svg-icon>
                </button>
              </span>
              <!-- Archived -->
              <span ng-show="question.is_answered">
                <button class="btn btn-clear l-mr05" ng-click="$ctrl.bookmark($event, question)">
                  <span ng-show="question.is_bookmarked" class="ng-hide">
                    <svg-icon icon="star" class="question__actions-button-sm ui-f-orange-2 ng-isolate-scope"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>star</title><path d="M24.006 9.427c0 0.202-0.151 0.454-0.404 0.706l-5.196 5.095 1.211 7.214c0 0.050 0 0.151 0 0.252 0 0.202-0.050 0.404-0.151 0.504-0.101 0.151-0.202 0.252-0.404 0.252s-0.404-0.101-0.605-0.202l-6.457-3.38-6.457 3.38c-0.202 0.101-0.404 0.202-0.605 0.202s-0.353-0.101-0.454-0.252c-0.101-0.101-0.151-0.303-0.151-0.504 0-0.050 0-0.151 0.050-0.252l1.211-7.214-5.246-5.095c-0.202-0.303-0.353-0.504-0.353-0.706 0-0.353 0.303-0.605 0.807-0.656l7.264-1.059 3.228-6.558c0.202-0.404 0.404-0.605 0.706-0.605s0.504 0.202 0.706 0.605l3.228 6.558 7.264 1.059c0.504 0.050 0.807 0.303 0.807 0.656z"></path></svg></svg-icon>
                  </span>
                  <span ng-show="!question.is_bookmarked">
                    <svg-icon icon="star-o" class="question__actions-button-sm ui-f-grey-10 ui-f-h-grey-2 ng-isolate-scope"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>star-o</title><path d="M16.389 14.573l4.439-4.288-6.104-0.908-2.724-5.498-2.724 5.498-6.104 0.908 4.439 4.288-1.059 6.053 5.448-2.875 5.448 2.875zM24.006 9.427c0 0.202-0.151 0.454-0.404 0.706l-5.196 5.095 1.211 7.214c0 0.050 0 0.151 0 0.252 0 0.504-0.151 0.757-0.555 0.757-0.202 0-0.404-0.101-0.605-0.202l-6.457-3.38-6.457 3.38c-0.202 0.101-0.404 0.202-0.605 0.202s-0.353-0.101-0.454-0.252c-0.101-0.101-0.151-0.303-0.151-0.504 0-0.050 0-0.151 0.050-0.252l1.211-7.214-5.246-5.095c-0.202-0.303-0.353-0.504-0.353-0.706 0-0.353 0.303-0.605 0.807-0.656l7.264-1.059 3.228-6.558c0.202-0.404 0.404-0.605 0.706-0.605s0.504 0.202 0.706 0.605l3.228 6.558 7.264 1.059c0.504 0.050 0.807 0.303 0.807 0.656z"></path></svg></svg-icon>
                  </span>
                </button>
                <button class="btn btn-clear" ng-click="$event.stopPropagation(); $ctrl.EventQuestionsActions.undelete(question)">
                  <svg-icon icon="retore" class="ui-f-grey-5 ui-f-h-grey-2 question__actions-button ng-isolate-scope"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>retore</title><path d="M12 0c-6.628 0-12 5.372-12 12s5.372 12 12 12 12-5.372 12-12-5.372-12-12-12zM12 23.284c-6.234 0-11.284-5.050-11.284-11.284s5.050-11.284 11.284-11.284 11.284 5.050 11.284 11.284-5.050 11.284-11.284 11.284z"></path><path d="M12.525 7.338c-2.575 0-4.659 2.088-4.662 4.662h-1.556l2.072 2.072 2.072-2.072h-1.556c0-2.003 1.622-3.625 3.625-3.625 2 0 3.628 1.625 3.628 3.625 0.003 2-1.616 3.622-3.616 3.625-0.756 0-1.494-0.234-2.109-0.675l-0.734 0.744c2.034 1.569 4.959 1.191 6.528-0.844 0.628-0.816 0.969-1.819 0.969-2.85 0.006-2.575-2.084-4.662-4.659-4.662v0z"></path></svg></svg-icon>
                </button>
              </span>
            </div>
          </div><!-- end ngRepeat: question in $ctrl.mobileQuestions | limitTo:$ctrl.config.limits.public track by question.event_question_id --><div class="question bg-white ng-scope" ng-repeat="question in $ctrl.mobileQuestions | limitTo:$ctrl.config.limits.public track by question.event_question_id" ng-class="{
              'is-highlighted': question.is_highlighted &amp;&amp; $ctrl.config.filter.public != 'archived' &amp;&amp; !$ctrl.isPublicFilterTop(),
              'is-pinned': question.is_bookmarked
            }" ng-show="!(question.is_highlighted &amp;&amp; $ctrl.isPublicFilterTop())" ng-click="$event.stopPropagation();$ctrl.setQuestion(question)">
            <div class="question__header flex items-center l-mb1">
              <user-avatar image="question.author.attrs.avatar" name="question.author.name" revert="question.is_highlighted" class="ng-isolate-scope"><div ng-class="{'revert': $ctrl.revert}" class="user-avatar  l-mr1" ng-switch="$ctrl.getType()">

  <div class="flex flex-center flex-x-center">
    <!-- ngSwitchWhen: initials -->

    <!-- ngSwitchWhen: icon --><div ng-switch-when="icon" class="ng-scope">
      <svg-icon icon="md-person" class="ui-f-white icon-size14 block ng-isolate-scope"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"></path></svg></svg-icon>
    </div><!-- end ngSwitchWhen: -->

    <!-- ngSwitchWhen: image -->
  </div>
</div>
</user-avatar>
              <div class="overflow-hidden">
                <div class="question__author truncate ng-binding">Anonymous</div>
                <div class="question__when">
                  <span class="question__like">
                    <span class="inline-block va-middle ng-binding">0 </span>
                    <svg-icon icon="like-o" class="ui-f-grey-2 icon-size12 ng-isolate-scope"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>like-o</title><path d="M22.391 13.397c0.096 0.338 0.145 0.675 0.145 1.013 0 0.723-0.193 1.447-0.579 2.073 0.048 0.193 0.048 0.434 0.048 0.627 0 0.916-0.289 1.832-0.868 2.556 0.048 2.748-1.832 4.34-4.484 4.34h-1.881c-2.025 0-3.954-0.627-5.834-1.254-0.434-0.145-1.591-0.579-1.977-0.579h-4.147c-1.061 0-1.881-0.82-1.881-1.881v-9.21c0-1.013 0.82-1.832 1.881-1.832h3.906c0.579-0.386 1.543-1.688 1.977-2.266 0.53-0.627 1.013-1.254 1.543-1.832 0.868-0.916 0.434-3.182 1.881-4.629 0.338-0.289 0.771-0.53 1.302-0.53 1.495 0 2.941 0.53 3.616 1.929 0.434 0.916 0.53 1.736 0.53 2.7 0 1.013-0.289 1.881-0.723 2.748h2.556c1.977 0 3.665 1.688 3.665 3.713 0 0.82-0.241 1.639-0.675 2.314zM19.402 9.251h-5.063c0-1.688 1.35-2.941 1.35-4.629s-0.289-2.748-2.266-2.748c-0.964 0.916-0.482 3.134-1.881 4.581-0.386 0.434-0.723 0.868-1.109 1.302-0.627 0.868-2.363 3.327-3.472 3.327h-0.482v9.21h0.482c0.771 0 2.122 0.53 2.893 0.82 1.591 0.53 3.231 1.061 4.918 1.061h1.736c1.639 0 2.797-0.675 2.797-2.411 0-0.289-0.048-0.579-0.096-0.82 0.627-0.338 0.964-1.157 0.964-1.832 0-0.338-0.096-0.675-0.289-0.964 0.53-0.482 0.771-1.061 0.771-1.736 0-0.482-0.193-1.157-0.482-1.495 0.675 0 1.061-1.302 1.061-1.832 0-0.964-0.868-1.832-1.832-1.832z"></path></svg></svg-icon>
                  </span>
                  <!-- ngIf: $ctrl.event.attrs.questions.enable_downvote -->
                  <span class="inline-block va-middle">
                    <span class="question__dot">•</span>
                    <span ng-hide="question.is_public" class="ng-binding ng-hide">
                      today, 7:16pm
                    </span>
                    <span ng-show="question.is_public" class="ng-binding">
                      today, 7:16pm
                    </span>
                  </span>
                  <span class="inline-block va-middle ng-hide" ng-show="question.is_answered &amp;&amp; !question.is_public">
                    <span class="question__dot">•</span>
                    <span class="c-red">(unapproved)</span>
                  </span>
                </div>
              </div>
            </div>
            <div class="question__text ng-binding">
              Is it easy to use a phone to ask questions?
            </div>
            <div class="question__reply pointer ng-hide" ng-show="question.attrs.replies_count > 0">
              <span>
                <svg-icon icon="reply" class="icon-size12 ng-isolate-scope"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>reply</title><path d="M24 15.445c0 1.5-0.563 3.516-1.688 6.047-0.047 0.047-0.094 0.141-0.141 0.328-0.094 0.141-0.141 0.281-0.188 0.375-0.047 0.141-0.141 0.234-0.188 0.328-0.094 0.141-0.234 0.188-0.375 0.188s-0.234-0.047-0.328-0.094c-0.047-0.094-0.094-0.234-0.094-0.375 0-0.047 0-0.188 0.047-0.328 0-0.141 0-0.281 0-0.328 0.047-0.609 0.094-1.172 0.094-1.641 0-0.891-0.094-1.688-0.234-2.438-0.141-0.703-0.375-1.313-0.656-1.828s-0.656-0.984-1.078-1.359c-0.422-0.375-0.891-0.703-1.406-0.938s-1.078-0.422-1.781-0.563c-0.703-0.141-1.359-0.234-2.063-0.281s-1.453-0.094-2.344-0.094h-3v3.422c0 0.234-0.094 0.422-0.281 0.609-0.141 0.188-0.328 0.234-0.563 0.234s-0.469-0.047-0.609-0.234l-6.891-6.844c-0.141-0.188-0.234-0.375-0.234-0.609s0.094-0.422 0.234-0.609l6.891-6.844c0.141-0.188 0.375-0.281 0.609-0.281s0.422 0.094 0.563 0.281c0.188 0.141 0.281 0.375 0.281 0.609v3.422h3c6.375 0 10.266 1.781 11.719 5.391 0.469 1.172 0.703 2.672 0.703 4.453z"></path></svg></svg-icon>
              </span>
              <span class="ui-c-grey-1 ng-binding"> replies</span>
            </div>
            <div class="question__actions">
              <action-state item="question" class="ng-isolate-scope"><span ng-show="$ctrl.item._state == 'pending'" class="action-checker-icon action-checker-icon__spinner spinner ng-hide">
</span>
<span class="action-checker-icon action-checker-icon__warning ng-hide hint--bottom" ng-show="$ctrl.item._state == 'failed'" ng-class="$ctrl.hintPosition" data-hint="Action failed. Please try refreshing your browser.">
  <svg-icon icon="md-error-outline" class="icon-size16 ui-f-red ng-isolate-scope"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M11 15h2v2h-2zm0-8h2v6h-2zm.99-5C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"></path></svg></svg-icon>
</span>
</action-state>
              <!-- Live and Pinned -->
              <span ng-hide="question.is_answered" class="ng-hide">
                <button class="btn btn-clear l-mr05 ng-hide" ng-show="question.is_highlighted" ng-click="$event.stopPropagation(); $ctrl.EventQuestionsActions.restore(question)">
                  <svg-icon icon="unhighlight" class="question__actions-button ui-f-white ng-isolate-scope"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>unhighlight</title><path d="M12 24c6.628 0 12-5.372 12-12s-5.372-12-12-12-12 5.372-12 12 5.372 12 12 12zM12 0.716c6.234 0 11.284 5.050 11.284 11.284s-5.050 11.284-11.284 11.284-11.284-5.050-11.284-11.284 5.050-11.284 11.284-11.284v0z"></path><path d="M15.469 9.469l1.097 1.094-4.659 4.656-4.659-4.656 1.097-1.094 3.563 3.553z"></path></svg></svg-icon>
                </button>
                <button class="btn btn-clear l-mr05" ng-show="!question.is_highlighted" ng-click="$event.stopPropagation(); $ctrl.EventQuestionsActions.highlight(question)">
                  <svg-icon icon="highlight" class="question__actions-button ui-f-blue-1 ng-isolate-scope"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>highlight</title><path d="M12 0c-6.628 0-12 5.372-12 12s5.372 12 12 12 12-5.372 12-12-5.372-12-12-12zM12 23.284c-6.234 0-11.284-5.050-11.284-11.284s5.050-11.284 11.284-11.284 11.284 5.050 11.284 11.284-5.050 11.284-11.284 11.284v0z"></path><path d="M8.781 16.704l-0.989-0.989 4.208-4.209 4.209 4.209-0.99 0.989-3.219-3.213-3.219 3.213zM8.781 12.495l-0.989-0.989 4.208-4.209 4.209 4.209-0.99 0.989-3.219-3.213z"></path></svg></svg-icon>
                </button>
                <button class="btn btn-clear" ng-click="$event.stopPropagation(); $ctrl.EventQuestionsActions.remove(question)">
                  <svg-icon icon="archive" class="ui-f-grey-5 question__actions-button ng-isolate-scope"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>archive</title><path d="M12 0c-6.628 0-12 5.372-12 12s5.372 12 12 12 12-5.372 12-12-5.372-12-12-12zM12 23.284c-6.234 0-11.284-5.050-11.284-11.284s5.050-11.284 11.284-11.284 11.284 5.050 11.284 11.284-5.050 11.284-11.284 11.284z"></path><path d="M16.763 7.281h-9.524c-0.376 0-0.681 0.305-0.681 0.681v1.359h10.883v-1.359c0-0.001 0-0.001 0-0.002 0-0.375-0.304-0.679-0.678-0.679z"></path><path d="M7.238 16.125c0 0.376 0.305 0.681 0.681 0.681h8.162c0.376-0 0.681-0.305 0.681-0.681v-6.122h-9.524v6.122zM10.98 11.363h2.040c0.376 0 0.681 0.305 0.681 0.681s-0.305 0.681-0.681 0.681h-2.040c-0.376 0-0.681-0.305-0.681-0.681s0.305-0.681 0.681-0.681z"></path></svg></svg-icon>
                </button>
              </span>
              <!-- Archived -->
              <span ng-show="question.is_answered">
                <button class="btn btn-clear l-mr05" ng-click="$ctrl.bookmark($event, question)">
                  <span ng-show="question.is_bookmarked" class="ng-hide">
                    <svg-icon icon="star" class="question__actions-button-sm ui-f-orange-2 ng-isolate-scope"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>star</title><path d="M24.006 9.427c0 0.202-0.151 0.454-0.404 0.706l-5.196 5.095 1.211 7.214c0 0.050 0 0.151 0 0.252 0 0.202-0.050 0.404-0.151 0.504-0.101 0.151-0.202 0.252-0.404 0.252s-0.404-0.101-0.605-0.202l-6.457-3.38-6.457 3.38c-0.202 0.101-0.404 0.202-0.605 0.202s-0.353-0.101-0.454-0.252c-0.101-0.101-0.151-0.303-0.151-0.504 0-0.050 0-0.151 0.050-0.252l1.211-7.214-5.246-5.095c-0.202-0.303-0.353-0.504-0.353-0.706 0-0.353 0.303-0.605 0.807-0.656l7.264-1.059 3.228-6.558c0.202-0.404 0.404-0.605 0.706-0.605s0.504 0.202 0.706 0.605l3.228 6.558 7.264 1.059c0.504 0.050 0.807 0.303 0.807 0.656z"></path></svg></svg-icon>
                  </span>
                  <span ng-show="!question.is_bookmarked">
                    <svg-icon icon="star-o" class="question__actions-button-sm ui-f-grey-10 ui-f-h-grey-2 ng-isolate-scope"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>star-o</title><path d="M16.389 14.573l4.439-4.288-6.104-0.908-2.724-5.498-2.724 5.498-6.104 0.908 4.439 4.288-1.059 6.053 5.448-2.875 5.448 2.875zM24.006 9.427c0 0.202-0.151 0.454-0.404 0.706l-5.196 5.095 1.211 7.214c0 0.050 0 0.151 0 0.252 0 0.504-0.151 0.757-0.555 0.757-0.202 0-0.404-0.101-0.605-0.202l-6.457-3.38-6.457 3.38c-0.202 0.101-0.404 0.202-0.605 0.202s-0.353-0.101-0.454-0.252c-0.101-0.101-0.151-0.303-0.151-0.504 0-0.050 0-0.151 0.050-0.252l1.211-7.214-5.246-5.095c-0.202-0.303-0.353-0.504-0.353-0.706 0-0.353 0.303-0.605 0.807-0.656l7.264-1.059 3.228-6.558c0.202-0.404 0.404-0.605 0.706-0.605s0.504 0.202 0.706 0.605l3.228 6.558 7.264 1.059c0.504 0.050 0.807 0.303 0.807 0.656z"></path></svg></svg-icon>
                  </span>
                </button>
                <button class="btn btn-clear" ng-click="$event.stopPropagation(); $ctrl.EventQuestionsActions.undelete(question)">
                  <svg-icon icon="retore" class="ui-f-grey-5 ui-f-h-grey-2 question__actions-button ng-isolate-scope"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>retore</title><path d="M12 0c-6.628 0-12 5.372-12 12s5.372 12 12 12 12-5.372 12-12-5.372-12-12-12zM12 23.284c-6.234 0-11.284-5.050-11.284-11.284s5.050-11.284 11.284-11.284 11.284 5.050 11.284 11.284-5.050 11.284-11.284 11.284z"></path><path d="M12.525 7.338c-2.575 0-4.659 2.088-4.662 4.662h-1.556l2.072 2.072 2.072-2.072h-1.556c0-2.003 1.622-3.625 3.625-3.625 2 0 3.628 1.625 3.628 3.625 0.003 2-1.616 3.622-3.616 3.625-0.756 0-1.494-0.234-2.109-0.675l-0.734 0.744c2.034 1.569 4.959 1.191 6.528-0.844 0.628-0.816 0.969-1.819 0.969-2.85 0.006-2.575-2.084-4.662-4.659-4.662v0z"></path></svg></svg-icon>
                </button>
              </span>
            </div>
          </div><!-- end ngRepeat: question in $ctrl.mobileQuestions | limitTo:$ctrl.config.limits.public track by question.event_question_id --><div class="question bg-white ng-scope" ng-repeat="question in $ctrl.mobileQuestions | limitTo:$ctrl.config.limits.public track by question.event_question_id" ng-class="{
              'is-highlighted': question.is_highlighted &amp;&amp; $ctrl.config.filter.public != 'archived' &amp;&amp; !$ctrl.isPublicFilterTop(),
              'is-pinned': question.is_bookmarked
            }" ng-show="!(question.is_highlighted &amp;&amp; $ctrl.isPublicFilterTop())" ng-click="$event.stopPropagation();$ctrl.setQuestion(question)">
            <div class="question__header flex items-center l-mb1">
              <user-avatar image="question.author.attrs.avatar" name="question.author.name" revert="question.is_highlighted" class="ng-isolate-scope"><div ng-class="{'revert': $ctrl.revert}" class="user-avatar  l-mr1" ng-switch="$ctrl.getType()">

  <div class="flex flex-center flex-x-center">
    <!-- ngSwitchWhen: initials -->

    <!-- ngSwitchWhen: icon --><div ng-switch-when="icon" class="ng-scope">
      <svg-icon icon="md-person" class="ui-f-white icon-size14 block ng-isolate-scope"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"></path></svg></svg-icon>
    </div><!-- end ngSwitchWhen: -->

    <!-- ngSwitchWhen: image -->
  </div>
</div>
</user-avatar>
              <div class="overflow-hidden">
                <div class="question__author truncate ng-binding">Anonymous</div>
                <div class="question__when">
                  <span class="question__like">
                    <span class="inline-block va-middle ng-binding">3 </span>
                    <svg-icon icon="like-o" class="ui-f-grey-2 icon-size12 ng-isolate-scope"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>like-o</title><path d="M22.391 13.397c0.096 0.338 0.145 0.675 0.145 1.013 0 0.723-0.193 1.447-0.579 2.073 0.048 0.193 0.048 0.434 0.048 0.627 0 0.916-0.289 1.832-0.868 2.556 0.048 2.748-1.832 4.34-4.484 4.34h-1.881c-2.025 0-3.954-0.627-5.834-1.254-0.434-0.145-1.591-0.579-1.977-0.579h-4.147c-1.061 0-1.881-0.82-1.881-1.881v-9.21c0-1.013 0.82-1.832 1.881-1.832h3.906c0.579-0.386 1.543-1.688 1.977-2.266 0.53-0.627 1.013-1.254 1.543-1.832 0.868-0.916 0.434-3.182 1.881-4.629 0.338-0.289 0.771-0.53 1.302-0.53 1.495 0 2.941 0.53 3.616 1.929 0.434 0.916 0.53 1.736 0.53 2.7 0 1.013-0.289 1.881-0.723 2.748h2.556c1.977 0 3.665 1.688 3.665 3.713 0 0.82-0.241 1.639-0.675 2.314zM19.402 9.251h-5.063c0-1.688 1.35-2.941 1.35-4.629s-0.289-2.748-2.266-2.748c-0.964 0.916-0.482 3.134-1.881 4.581-0.386 0.434-0.723 0.868-1.109 1.302-0.627 0.868-2.363 3.327-3.472 3.327h-0.482v9.21h0.482c0.771 0 2.122 0.53 2.893 0.82 1.591 0.53 3.231 1.061 4.918 1.061h1.736c1.639 0 2.797-0.675 2.797-2.411 0-0.289-0.048-0.579-0.096-0.82 0.627-0.338 0.964-1.157 0.964-1.832 0-0.338-0.096-0.675-0.289-0.964 0.53-0.482 0.771-1.061 0.771-1.736 0-0.482-0.193-1.157-0.482-1.495 0.675 0 1.061-1.302 1.061-1.832 0-0.964-0.868-1.832-1.832-1.832z"></path></svg></svg-icon>
                  </span>
                  <!-- ngIf: $ctrl.event.attrs.questions.enable_downvote -->
                  <span class="inline-block va-middle">
                    <span class="question__dot">•</span>
                    <span ng-hide="question.is_public" class="ng-binding ng-hide">
                      today, 7:16pm
                    </span>
                    <span ng-show="question.is_public" class="ng-binding">
                      today, 7:16pm
                    </span>
                  </span>
                  <span class="inline-block va-middle ng-hide" ng-show="question.is_answered &amp;&amp; !question.is_public">
                    <span class="question__dot">•</span>
                    <span class="c-red">(unapproved)</span>
                  </span>
                </div>
              </div>
            </div>
            <div class="question__text ng-binding">
              How much wood could a woodchuck chuck if a woodchuck could chuck wood
            </div>
            <div class="question__reply pointer ng-hide" ng-show="question.attrs.replies_count > 0">
              <span>
                <svg-icon icon="reply" class="icon-size12 ng-isolate-scope"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>reply</title><path d="M24 15.445c0 1.5-0.563 3.516-1.688 6.047-0.047 0.047-0.094 0.141-0.141 0.328-0.094 0.141-0.141 0.281-0.188 0.375-0.047 0.141-0.141 0.234-0.188 0.328-0.094 0.141-0.234 0.188-0.375 0.188s-0.234-0.047-0.328-0.094c-0.047-0.094-0.094-0.234-0.094-0.375 0-0.047 0-0.188 0.047-0.328 0-0.141 0-0.281 0-0.328 0.047-0.609 0.094-1.172 0.094-1.641 0-0.891-0.094-1.688-0.234-2.438-0.141-0.703-0.375-1.313-0.656-1.828s-0.656-0.984-1.078-1.359c-0.422-0.375-0.891-0.703-1.406-0.938s-1.078-0.422-1.781-0.563c-0.703-0.141-1.359-0.234-2.063-0.281s-1.453-0.094-2.344-0.094h-3v3.422c0 0.234-0.094 0.422-0.281 0.609-0.141 0.188-0.328 0.234-0.563 0.234s-0.469-0.047-0.609-0.234l-6.891-6.844c-0.141-0.188-0.234-0.375-0.234-0.609s0.094-0.422 0.234-0.609l6.891-6.844c0.141-0.188 0.375-0.281 0.609-0.281s0.422 0.094 0.563 0.281c0.188 0.141 0.281 0.375 0.281 0.609v3.422h3c6.375 0 10.266 1.781 11.719 5.391 0.469 1.172 0.703 2.672 0.703 4.453z"></path></svg></svg-icon>
              </span>
              <span class="ui-c-grey-1 ng-binding"> replies</span>
            </div>
            <div class="question__actions">
              <action-state item="question" class="ng-isolate-scope"><span ng-show="$ctrl.item._state == 'pending'" class="action-checker-icon action-checker-icon__spinner spinner ng-hide">
</span>
<span class="action-checker-icon action-checker-icon__warning ng-hide hint--bottom" ng-show="$ctrl.item._state == 'failed'" ng-class="$ctrl.hintPosition" data-hint="Action failed. Please try refreshing your browser.">
  <svg-icon icon="md-error-outline" class="icon-size16 ui-f-red ng-isolate-scope"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M11 15h2v2h-2zm0-8h2v6h-2zm.99-5C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"></path></svg></svg-icon>
</span>
</action-state>
              <!-- Live and Pinned -->
              <span ng-hide="question.is_answered" class="ng-hide">
                <button class="btn btn-clear l-mr05 ng-hide" ng-show="question.is_highlighted" ng-click="$event.stopPropagation(); $ctrl.EventQuestionsActions.restore(question)">
                  <svg-icon icon="unhighlight" class="question__actions-button ui-f-white ng-isolate-scope"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>unhighlight</title><path d="M12 24c6.628 0 12-5.372 12-12s-5.372-12-12-12-12 5.372-12 12 5.372 12 12 12zM12 0.716c6.234 0 11.284 5.050 11.284 11.284s-5.050 11.284-11.284 11.284-11.284-5.050-11.284-11.284 5.050-11.284 11.284-11.284v0z"></path><path d="M15.469 9.469l1.097 1.094-4.659 4.656-4.659-4.656 1.097-1.094 3.563 3.553z"></path></svg></svg-icon>
                </button>
                <button class="btn btn-clear l-mr05" ng-show="!question.is_highlighted" ng-click="$event.stopPropagation(); $ctrl.EventQuestionsActions.highlight(question)">
                  <svg-icon icon="highlight" class="question__actions-button ui-f-blue-1 ng-isolate-scope"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>highlight</title><path d="M12 0c-6.628 0-12 5.372-12 12s5.372 12 12 12 12-5.372 12-12-5.372-12-12-12zM12 23.284c-6.234 0-11.284-5.050-11.284-11.284s5.050-11.284 11.284-11.284 11.284 5.050 11.284 11.284-5.050 11.284-11.284 11.284v0z"></path><path d="M8.781 16.704l-0.989-0.989 4.208-4.209 4.209 4.209-0.99 0.989-3.219-3.213-3.219 3.213zM8.781 12.495l-0.989-0.989 4.208-4.209 4.209 4.209-0.99 0.989-3.219-3.213z"></path></svg></svg-icon>
                </button>
                <button class="btn btn-clear" ng-click="$event.stopPropagation(); $ctrl.EventQuestionsActions.remove(question)">
                  <svg-icon icon="archive" class="ui-f-grey-5 question__actions-button ng-isolate-scope"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>archive</title><path d="M12 0c-6.628 0-12 5.372-12 12s5.372 12 12 12 12-5.372 12-12-5.372-12-12-12zM12 23.284c-6.234 0-11.284-5.050-11.284-11.284s5.050-11.284 11.284-11.284 11.284 5.050 11.284 11.284-5.050 11.284-11.284 11.284z"></path><path d="M16.763 7.281h-9.524c-0.376 0-0.681 0.305-0.681 0.681v1.359h10.883v-1.359c0-0.001 0-0.001 0-0.002 0-0.375-0.304-0.679-0.678-0.679z"></path><path d="M7.238 16.125c0 0.376 0.305 0.681 0.681 0.681h8.162c0.376-0 0.681-0.305 0.681-0.681v-6.122h-9.524v6.122zM10.98 11.363h2.040c0.376 0 0.681 0.305 0.681 0.681s-0.305 0.681-0.681 0.681h-2.040c-0.376 0-0.681-0.305-0.681-0.681s0.305-0.681 0.681-0.681z"></path></svg></svg-icon>
                </button>
              </span>
              <!-- Archived -->
              <span ng-show="question.is_answered">
                <button class="btn btn-clear l-mr05" ng-click="$ctrl.bookmark($event, question)">
                  <span ng-show="question.is_bookmarked" class="ng-hide">
                    <svg-icon icon="star" class="question__actions-button-sm ui-f-orange-2 ng-isolate-scope"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>star</title><path d="M24.006 9.427c0 0.202-0.151 0.454-0.404 0.706l-5.196 5.095 1.211 7.214c0 0.050 0 0.151 0 0.252 0 0.202-0.050 0.404-0.151 0.504-0.101 0.151-0.202 0.252-0.404 0.252s-0.404-0.101-0.605-0.202l-6.457-3.38-6.457 3.38c-0.202 0.101-0.404 0.202-0.605 0.202s-0.353-0.101-0.454-0.252c-0.101-0.101-0.151-0.303-0.151-0.504 0-0.050 0-0.151 0.050-0.252l1.211-7.214-5.246-5.095c-0.202-0.303-0.353-0.504-0.353-0.706 0-0.353 0.303-0.605 0.807-0.656l7.264-1.059 3.228-6.558c0.202-0.404 0.404-0.605 0.706-0.605s0.504 0.202 0.706 0.605l3.228 6.558 7.264 1.059c0.504 0.050 0.807 0.303 0.807 0.656z"></path></svg></svg-icon>
                  </span>
                  <span ng-show="!question.is_bookmarked">
                    <svg-icon icon="star-o" class="question__actions-button-sm ui-f-grey-10 ui-f-h-grey-2 ng-isolate-scope"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>star-o</title><path d="M16.389 14.573l4.439-4.288-6.104-0.908-2.724-5.498-2.724 5.498-6.104 0.908 4.439 4.288-1.059 6.053 5.448-2.875 5.448 2.875zM24.006 9.427c0 0.202-0.151 0.454-0.404 0.706l-5.196 5.095 1.211 7.214c0 0.050 0 0.151 0 0.252 0 0.504-0.151 0.757-0.555 0.757-0.202 0-0.404-0.101-0.605-0.202l-6.457-3.38-6.457 3.38c-0.202 0.101-0.404 0.202-0.605 0.202s-0.353-0.101-0.454-0.252c-0.101-0.101-0.151-0.303-0.151-0.504 0-0.050 0-0.151 0.050-0.252l1.211-7.214-5.246-5.095c-0.202-0.303-0.353-0.504-0.353-0.706 0-0.353 0.303-0.605 0.807-0.656l7.264-1.059 3.228-6.558c0.202-0.404 0.404-0.605 0.706-0.605s0.504 0.202 0.706 0.605l3.228 6.558 7.264 1.059c0.504 0.050 0.807 0.303 0.807 0.656z"></path></svg></svg-icon>
                  </span>
                </button>
                <button class="btn btn-clear" ng-click="$event.stopPropagation(); $ctrl.EventQuestionsActions.undelete(question)">
                  <svg-icon icon="retore" class="ui-f-grey-5 ui-f-h-grey-2 question__actions-button ng-isolate-scope"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>retore</title><path d="M12 0c-6.628 0-12 5.372-12 12s5.372 12 12 12 12-5.372 12-12-5.372-12-12-12zM12 23.284c-6.234 0-11.284-5.050-11.284-11.284s5.050-11.284 11.284-11.284 11.284 5.050 11.284 11.284-5.050 11.284-11.284 11.284z"></path><path d="M12.525 7.338c-2.575 0-4.659 2.088-4.662 4.662h-1.556l2.072 2.072 2.072-2.072h-1.556c0-2.003 1.622-3.625 3.625-3.625 2 0 3.628 1.625 3.628 3.625 0.003 2-1.616 3.622-3.616 3.625-0.756 0-1.494-0.234-2.109-0.675l-0.734 0.744c2.034 1.569 4.959 1.191 6.528-0.844 0.628-0.816 0.969-1.819 0.969-2.85 0.006-2.575-2.084-4.662-4.659-4.662v0z"></path></svg></svg-icon>
                </button>
              </span>
            </div>
          </div><!-- end ngRepeat: question in $ctrl.mobileQuestions | limitTo:$ctrl.config.limits.public track by question.event_question_id --><div class="question bg-white ng-scope" ng-repeat="question in $ctrl.mobileQuestions | limitTo:$ctrl.config.limits.public track by question.event_question_id" ng-class="{
              'is-highlighted': question.is_highlighted &amp;&amp; $ctrl.config.filter.public != 'archived' &amp;&amp; !$ctrl.isPublicFilterTop(),
              'is-pinned': question.is_bookmarked
            }" ng-show="!(question.is_highlighted &amp;&amp; $ctrl.isPublicFilterTop())" ng-click="$event.stopPropagation();$ctrl.setQuestion(question)">
            <div class="question__header flex items-center l-mb1">
              <user-avatar image="question.author.attrs.avatar" name="question.author.name" revert="question.is_highlighted" class="ng-isolate-scope"><div ng-class="{'revert': $ctrl.revert}" class="user-avatar  l-mr1" ng-switch="$ctrl.getType()">

  <div class="flex flex-center flex-x-center">
    <!-- ngSwitchWhen: initials -->

    <!-- ngSwitchWhen: icon --><div ng-switch-when="icon" class="ng-scope">
      <svg-icon icon="md-person" class="ui-f-white icon-size14 block ng-isolate-scope"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"></path></svg></svg-icon>
    </div><!-- end ngSwitchWhen: -->

    <!-- ngSwitchWhen: image -->
  </div>
</div>
</user-avatar>
              <div class="overflow-hidden">
                <div class="question__author truncate ng-binding">Anonymous</div>
                <div class="question__when">
                  <span class="question__like">
                    <span class="inline-block va-middle ng-binding">1 </span>
                    <svg-icon icon="like-o" class="ui-f-grey-2 icon-size12 ng-isolate-scope"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>like-o</title><path d="M22.391 13.397c0.096 0.338 0.145 0.675 0.145 1.013 0 0.723-0.193 1.447-0.579 2.073 0.048 0.193 0.048 0.434 0.048 0.627 0 0.916-0.289 1.832-0.868 2.556 0.048 2.748-1.832 4.34-4.484 4.34h-1.881c-2.025 0-3.954-0.627-5.834-1.254-0.434-0.145-1.591-0.579-1.977-0.579h-4.147c-1.061 0-1.881-0.82-1.881-1.881v-9.21c0-1.013 0.82-1.832 1.881-1.832h3.906c0.579-0.386 1.543-1.688 1.977-2.266 0.53-0.627 1.013-1.254 1.543-1.832 0.868-0.916 0.434-3.182 1.881-4.629 0.338-0.289 0.771-0.53 1.302-0.53 1.495 0 2.941 0.53 3.616 1.929 0.434 0.916 0.53 1.736 0.53 2.7 0 1.013-0.289 1.881-0.723 2.748h2.556c1.977 0 3.665 1.688 3.665 3.713 0 0.82-0.241 1.639-0.675 2.314zM19.402 9.251h-5.063c0-1.688 1.35-2.941 1.35-4.629s-0.289-2.748-2.266-2.748c-0.964 0.916-0.482 3.134-1.881 4.581-0.386 0.434-0.723 0.868-1.109 1.302-0.627 0.868-2.363 3.327-3.472 3.327h-0.482v9.21h0.482c0.771 0 2.122 0.53 2.893 0.82 1.591 0.53 3.231 1.061 4.918 1.061h1.736c1.639 0 2.797-0.675 2.797-2.411 0-0.289-0.048-0.579-0.096-0.82 0.627-0.338 0.964-1.157 0.964-1.832 0-0.338-0.096-0.675-0.289-0.964 0.53-0.482 0.771-1.061 0.771-1.736 0-0.482-0.193-1.157-0.482-1.495 0.675 0 1.061-1.302 1.061-1.832 0-0.964-0.868-1.832-1.832-1.832z"></path></svg></svg-icon>
                  </span>
                  <!-- ngIf: $ctrl.event.attrs.questions.enable_downvote -->
                  <span class="inline-block va-middle">
                    <span class="question__dot">•</span>
                    <span ng-hide="question.is_public" class="ng-binding ng-hide">
                      today, 7:13pm
                    </span>
                    <span ng-show="question.is_public" class="ng-binding">
                      today, 7:13pm
                    </span>
                  </span>
                  <span class="inline-block va-middle ng-hide" ng-show="question.is_answered &amp;&amp; !question.is_public">
                    <span class="question__dot">•</span>
                    <span class="c-red">(unapproved)</span>
                  </span>
                </div>
              </div>
            </div>
            <div class="question__text ng-binding">
              How many questions will we ask to test this out?
            </div>
            <div class="question__reply pointer ng-hide" ng-show="question.attrs.replies_count > 0">
              <span>
                <svg-icon icon="reply" class="icon-size12 ng-isolate-scope"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>reply</title><path d="M24 15.445c0 1.5-0.563 3.516-1.688 6.047-0.047 0.047-0.094 0.141-0.141 0.328-0.094 0.141-0.141 0.281-0.188 0.375-0.047 0.141-0.141 0.234-0.188 0.328-0.094 0.141-0.234 0.188-0.375 0.188s-0.234-0.047-0.328-0.094c-0.047-0.094-0.094-0.234-0.094-0.375 0-0.047 0-0.188 0.047-0.328 0-0.141 0-0.281 0-0.328 0.047-0.609 0.094-1.172 0.094-1.641 0-0.891-0.094-1.688-0.234-2.438-0.141-0.703-0.375-1.313-0.656-1.828s-0.656-0.984-1.078-1.359c-0.422-0.375-0.891-0.703-1.406-0.938s-1.078-0.422-1.781-0.563c-0.703-0.141-1.359-0.234-2.063-0.281s-1.453-0.094-2.344-0.094h-3v3.422c0 0.234-0.094 0.422-0.281 0.609-0.141 0.188-0.328 0.234-0.563 0.234s-0.469-0.047-0.609-0.234l-6.891-6.844c-0.141-0.188-0.234-0.375-0.234-0.609s0.094-0.422 0.234-0.609l6.891-6.844c0.141-0.188 0.375-0.281 0.609-0.281s0.422 0.094 0.563 0.281c0.188 0.141 0.281 0.375 0.281 0.609v3.422h3c6.375 0 10.266 1.781 11.719 5.391 0.469 1.172 0.703 2.672 0.703 4.453z"></path></svg></svg-icon>
              </span>
              <span class="ui-c-grey-1 ng-binding"> replies</span>
            </div>
            <div class="question__actions">
              <action-state item="question" class="ng-isolate-scope"><span ng-show="$ctrl.item._state == 'pending'" class="action-checker-icon action-checker-icon__spinner spinner ng-hide">
</span>
<span class="action-checker-icon action-checker-icon__warning ng-hide hint--bottom" ng-show="$ctrl.item._state == 'failed'" ng-class="$ctrl.hintPosition" data-hint="Action failed. Please try refreshing your browser.">
  <svg-icon icon="md-error-outline" class="icon-size16 ui-f-red ng-isolate-scope"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M11 15h2v2h-2zm0-8h2v6h-2zm.99-5C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"></path></svg></svg-icon>
</span>
</action-state>
              <!-- Live and Pinned -->
              <span ng-hide="question.is_answered" class="ng-hide">
                <button class="btn btn-clear l-mr05 ng-hide" ng-show="question.is_highlighted" ng-click="$event.stopPropagation(); $ctrl.EventQuestionsActions.restore(question)">
                  <svg-icon icon="unhighlight" class="question__actions-button ui-f-white ng-isolate-scope"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>unhighlight</title><path d="M12 24c6.628 0 12-5.372 12-12s-5.372-12-12-12-12 5.372-12 12 5.372 12 12 12zM12 0.716c6.234 0 11.284 5.050 11.284 11.284s-5.050 11.284-11.284 11.284-11.284-5.050-11.284-11.284 5.050-11.284 11.284-11.284v0z"></path><path d="M15.469 9.469l1.097 1.094-4.659 4.656-4.659-4.656 1.097-1.094 3.563 3.553z"></path></svg></svg-icon>
                </button>
                <button class="btn btn-clear l-mr05" ng-show="!question.is_highlighted" ng-click="$event.stopPropagation(); $ctrl.EventQuestionsActions.highlight(question)">
                  <svg-icon icon="highlight" class="question__actions-button ui-f-blue-1 ng-isolate-scope"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>highlight</title><path d="M12 0c-6.628 0-12 5.372-12 12s5.372 12 12 12 12-5.372 12-12-5.372-12-12-12zM12 23.284c-6.234 0-11.284-5.050-11.284-11.284s5.050-11.284 11.284-11.284 11.284 5.050 11.284 11.284-5.050 11.284-11.284 11.284v0z"></path><path d="M8.781 16.704l-0.989-0.989 4.208-4.209 4.209 4.209-0.99 0.989-3.219-3.213-3.219 3.213zM8.781 12.495l-0.989-0.989 4.208-4.209 4.209 4.209-0.99 0.989-3.219-3.213z"></path></svg></svg-icon>
                </button>
                <button class="btn btn-clear" ng-click="$event.stopPropagation(); $ctrl.EventQuestionsActions.remove(question)">
                  <svg-icon icon="archive" class="ui-f-grey-5 question__actions-button ng-isolate-scope"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>archive</title><path d="M12 0c-6.628 0-12 5.372-12 12s5.372 12 12 12 12-5.372 12-12-5.372-12-12-12zM12 23.284c-6.234 0-11.284-5.050-11.284-11.284s5.050-11.284 11.284-11.284 11.284 5.050 11.284 11.284-5.050 11.284-11.284 11.284z"></path><path d="M16.763 7.281h-9.524c-0.376 0-0.681 0.305-0.681 0.681v1.359h10.883v-1.359c0-0.001 0-0.001 0-0.002 0-0.375-0.304-0.679-0.678-0.679z"></path><path d="M7.238 16.125c0 0.376 0.305 0.681 0.681 0.681h8.162c0.376-0 0.681-0.305 0.681-0.681v-6.122h-9.524v6.122zM10.98 11.363h2.040c0.376 0 0.681 0.305 0.681 0.681s-0.305 0.681-0.681 0.681h-2.040c-0.376 0-0.681-0.305-0.681-0.681s0.305-0.681 0.681-0.681z"></path></svg></svg-icon>
                </button>
              </span>
              <!-- Archived -->
              <span ng-show="question.is_answered">
                <button class="btn btn-clear l-mr05" ng-click="$ctrl.bookmark($event, question)">
                  <span ng-show="question.is_bookmarked" class="ng-hide">
                    <svg-icon icon="star" class="question__actions-button-sm ui-f-orange-2 ng-isolate-scope"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>star</title><path d="M24.006 9.427c0 0.202-0.151 0.454-0.404 0.706l-5.196 5.095 1.211 7.214c0 0.050 0 0.151 0 0.252 0 0.202-0.050 0.404-0.151 0.504-0.101 0.151-0.202 0.252-0.404 0.252s-0.404-0.101-0.605-0.202l-6.457-3.38-6.457 3.38c-0.202 0.101-0.404 0.202-0.605 0.202s-0.353-0.101-0.454-0.252c-0.101-0.101-0.151-0.303-0.151-0.504 0-0.050 0-0.151 0.050-0.252l1.211-7.214-5.246-5.095c-0.202-0.303-0.353-0.504-0.353-0.706 0-0.353 0.303-0.605 0.807-0.656l7.264-1.059 3.228-6.558c0.202-0.404 0.404-0.605 0.706-0.605s0.504 0.202 0.706 0.605l3.228 6.558 7.264 1.059c0.504 0.050 0.807 0.303 0.807 0.656z"></path></svg></svg-icon>
                  </span>
                  <span ng-show="!question.is_bookmarked">
                    <svg-icon icon="star-o" class="question__actions-button-sm ui-f-grey-10 ui-f-h-grey-2 ng-isolate-scope"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>star-o</title><path d="M16.389 14.573l4.439-4.288-6.104-0.908-2.724-5.498-2.724 5.498-6.104 0.908 4.439 4.288-1.059 6.053 5.448-2.875 5.448 2.875zM24.006 9.427c0 0.202-0.151 0.454-0.404 0.706l-5.196 5.095 1.211 7.214c0 0.050 0 0.151 0 0.252 0 0.504-0.151 0.757-0.555 0.757-0.202 0-0.404-0.101-0.605-0.202l-6.457-3.38-6.457 3.38c-0.202 0.101-0.404 0.202-0.605 0.202s-0.353-0.101-0.454-0.252c-0.101-0.101-0.151-0.303-0.151-0.504 0-0.050 0-0.151 0.050-0.252l1.211-7.214-5.246-5.095c-0.202-0.303-0.353-0.504-0.353-0.706 0-0.353 0.303-0.605 0.807-0.656l7.264-1.059 3.228-6.558c0.202-0.404 0.404-0.605 0.706-0.605s0.504 0.202 0.706 0.605l3.228 6.558 7.264 1.059c0.504 0.050 0.807 0.303 0.807 0.656z"></path></svg></svg-icon>
                  </span>
                </button>
                <button class="btn btn-clear" ng-click="$event.stopPropagation(); $ctrl.EventQuestionsActions.undelete(question)">
                  <svg-icon icon="retore" class="ui-f-grey-5 ui-f-h-grey-2 question__actions-button ng-isolate-scope"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>retore</title><path d="M12 0c-6.628 0-12 5.372-12 12s5.372 12 12 12 12-5.372 12-12-5.372-12-12-12zM12 23.284c-6.234 0-11.284-5.050-11.284-11.284s5.050-11.284 11.284-11.284 11.284 5.050 11.284 11.284-5.050 11.284-11.284 11.284z"></path><path d="M12.525 7.338c-2.575 0-4.659 2.088-4.662 4.662h-1.556l2.072 2.072 2.072-2.072h-1.556c0-2.003 1.622-3.625 3.625-3.625 2 0 3.628 1.625 3.628 3.625 0.003 2-1.616 3.622-3.616 3.625-0.756 0-1.494-0.234-2.109-0.675l-0.734 0.744c2.034 1.569 4.959 1.191 6.528-0.844 0.628-0.816 0.969-1.819 0.969-2.85 0.006-2.575-2.084-4.662-4.659-4.662v0z"></path></svg></svg-icon>
                </button>
              </span>
            </div>
          </div><!-- end ngRepeat: question in $ctrl.mobileQuestions | limitTo:$ctrl.config.limits.public track by question.event_question_id --><div class="question bg-white ng-scope" ng-repeat="question in $ctrl.mobileQuestions | limitTo:$ctrl.config.limits.public track by question.event_question_id" ng-class="{
              'is-highlighted': question.is_highlighted &amp;&amp; $ctrl.config.filter.public != 'archived' &amp;&amp; !$ctrl.isPublicFilterTop(),
              'is-pinned': question.is_bookmarked
            }" ng-show="!(question.is_highlighted &amp;&amp; $ctrl.isPublicFilterTop())" ng-click="$event.stopPropagation();$ctrl.setQuestion(question)">
            <div class="question__header flex items-center l-mb1">
              <user-avatar image="question.author.attrs.avatar" name="question.author.name" revert="question.is_highlighted" class="ng-isolate-scope"><div ng-class="{'revert': $ctrl.revert}" class="user-avatar  l-mr1" ng-switch="$ctrl.getType()">

  <div class="flex flex-center flex-x-center">
    <!-- ngSwitchWhen: initials -->

    <!-- ngSwitchWhen: icon --><div ng-switch-when="icon" class="ng-scope">
      <svg-icon icon="md-person" class="ui-f-white icon-size14 block ng-isolate-scope"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"></path></svg></svg-icon>
    </div><!-- end ngSwitchWhen: -->

    <!-- ngSwitchWhen: image -->
  </div>
</div>
</user-avatar>
              <div class="overflow-hidden">
                <div class="question__author truncate ng-binding">Anonymous</div>
                <div class="question__when">
                  <span class="question__like">
                    <span class="inline-block va-middle ng-binding">1 </span>
                    <svg-icon icon="like-o" class="ui-f-grey-2 icon-size12 ng-isolate-scope"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>like-o</title><path d="M22.391 13.397c0.096 0.338 0.145 0.675 0.145 1.013 0 0.723-0.193 1.447-0.579 2.073 0.048 0.193 0.048 0.434 0.048 0.627 0 0.916-0.289 1.832-0.868 2.556 0.048 2.748-1.832 4.34-4.484 4.34h-1.881c-2.025 0-3.954-0.627-5.834-1.254-0.434-0.145-1.591-0.579-1.977-0.579h-4.147c-1.061 0-1.881-0.82-1.881-1.881v-9.21c0-1.013 0.82-1.832 1.881-1.832h3.906c0.579-0.386 1.543-1.688 1.977-2.266 0.53-0.627 1.013-1.254 1.543-1.832 0.868-0.916 0.434-3.182 1.881-4.629 0.338-0.289 0.771-0.53 1.302-0.53 1.495 0 2.941 0.53 3.616 1.929 0.434 0.916 0.53 1.736 0.53 2.7 0 1.013-0.289 1.881-0.723 2.748h2.556c1.977 0 3.665 1.688 3.665 3.713 0 0.82-0.241 1.639-0.675 2.314zM19.402 9.251h-5.063c0-1.688 1.35-2.941 1.35-4.629s-0.289-2.748-2.266-2.748c-0.964 0.916-0.482 3.134-1.881 4.581-0.386 0.434-0.723 0.868-1.109 1.302-0.627 0.868-2.363 3.327-3.472 3.327h-0.482v9.21h0.482c0.771 0 2.122 0.53 2.893 0.82 1.591 0.53 3.231 1.061 4.918 1.061h1.736c1.639 0 2.797-0.675 2.797-2.411 0-0.289-0.048-0.579-0.096-0.82 0.627-0.338 0.964-1.157 0.964-1.832 0-0.338-0.096-0.675-0.289-0.964 0.53-0.482 0.771-1.061 0.771-1.736 0-0.482-0.193-1.157-0.482-1.495 0.675 0 1.061-1.302 1.061-1.832 0-0.964-0.868-1.832-1.832-1.832z"></path></svg></svg-icon>
                  </span>
                  <!-- ngIf: $ctrl.event.attrs.questions.enable_downvote -->
                  <span class="inline-block va-middle">
                    <span class="question__dot">•</span>
                    <span ng-hide="question.is_public" class="ng-binding ng-hide">
                      today, 7:12pm
                    </span>
                    <span ng-show="question.is_public" class="ng-binding">
                      today, 7:12pm
                    </span>
                  </span>
                  <span class="inline-block va-middle ng-hide" ng-show="question.is_answered &amp;&amp; !question.is_public">
                    <span class="question__dot">•</span>
                    <span class="c-red">(unapproved)</span>
                  </span>
                </div>
              </div>
            </div>
            <div class="question__text ng-binding">
              Is this a good question?
            </div>
            <div class="question__reply pointer ng-hide" ng-show="question.attrs.replies_count > 0">
              <span>
                <svg-icon icon="reply" class="icon-size12 ng-isolate-scope"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>reply</title><path d="M24 15.445c0 1.5-0.563 3.516-1.688 6.047-0.047 0.047-0.094 0.141-0.141 0.328-0.094 0.141-0.141 0.281-0.188 0.375-0.047 0.141-0.141 0.234-0.188 0.328-0.094 0.141-0.234 0.188-0.375 0.188s-0.234-0.047-0.328-0.094c-0.047-0.094-0.094-0.234-0.094-0.375 0-0.047 0-0.188 0.047-0.328 0-0.141 0-0.281 0-0.328 0.047-0.609 0.094-1.172 0.094-1.641 0-0.891-0.094-1.688-0.234-2.438-0.141-0.703-0.375-1.313-0.656-1.828s-0.656-0.984-1.078-1.359c-0.422-0.375-0.891-0.703-1.406-0.938s-1.078-0.422-1.781-0.563c-0.703-0.141-1.359-0.234-2.063-0.281s-1.453-0.094-2.344-0.094h-3v3.422c0 0.234-0.094 0.422-0.281 0.609-0.141 0.188-0.328 0.234-0.563 0.234s-0.469-0.047-0.609-0.234l-6.891-6.844c-0.141-0.188-0.234-0.375-0.234-0.609s0.094-0.422 0.234-0.609l6.891-6.844c0.141-0.188 0.375-0.281 0.609-0.281s0.422 0.094 0.563 0.281c0.188 0.141 0.281 0.375 0.281 0.609v3.422h3c6.375 0 10.266 1.781 11.719 5.391 0.469 1.172 0.703 2.672 0.703 4.453z"></path></svg></svg-icon>
              </span>
              <span class="ui-c-grey-1 ng-binding"> replies</span>
            </div>
            <div class="question__actions">
              <action-state item="question" class="ng-isolate-scope"><span ng-show="$ctrl.item._state == 'pending'" class="action-checker-icon action-checker-icon__spinner spinner ng-hide">
</span>
<span class="action-checker-icon action-checker-icon__warning ng-hide hint--bottom" ng-show="$ctrl.item._state == 'failed'" ng-class="$ctrl.hintPosition" data-hint="Action failed. Please try refreshing your browser.">
  <svg-icon icon="md-error-outline" class="icon-size16 ui-f-red ng-isolate-scope"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M11 15h2v2h-2zm0-8h2v6h-2zm.99-5C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"></path></svg></svg-icon>
</span>
</action-state>
              <!-- Live and Pinned -->
              <span ng-hide="question.is_answered" class="ng-hide">
                <button class="btn btn-clear l-mr05 ng-hide" ng-show="question.is_highlighted" ng-click="$event.stopPropagation(); $ctrl.EventQuestionsActions.restore(question)">
                  <svg-icon icon="unhighlight" class="question__actions-button ui-f-white ng-isolate-scope"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>unhighlight</title><path d="M12 24c6.628 0 12-5.372 12-12s-5.372-12-12-12-12 5.372-12 12 5.372 12 12 12zM12 0.716c6.234 0 11.284 5.050 11.284 11.284s-5.050 11.284-11.284 11.284-11.284-5.050-11.284-11.284 5.050-11.284 11.284-11.284v0z"></path><path d="M15.469 9.469l1.097 1.094-4.659 4.656-4.659-4.656 1.097-1.094 3.563 3.553z"></path></svg></svg-icon>
                </button>
                <button class="btn btn-clear l-mr05" ng-show="!question.is_highlighted" ng-click="$event.stopPropagation(); $ctrl.EventQuestionsActions.highlight(question)">
                  <svg-icon icon="highlight" class="question__actions-button ui-f-blue-1 ng-isolate-scope"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>highlight</title><path d="M12 0c-6.628 0-12 5.372-12 12s5.372 12 12 12 12-5.372 12-12-5.372-12-12-12zM12 23.284c-6.234 0-11.284-5.050-11.284-11.284s5.050-11.284 11.284-11.284 11.284 5.050 11.284 11.284-5.050 11.284-11.284 11.284v0z"></path><path d="M8.781 16.704l-0.989-0.989 4.208-4.209 4.209 4.209-0.99 0.989-3.219-3.213-3.219 3.213zM8.781 12.495l-0.989-0.989 4.208-4.209 4.209 4.209-0.99 0.989-3.219-3.213z"></path></svg></svg-icon>
                </button>
                <button class="btn btn-clear" ng-click="$event.stopPropagation(); $ctrl.EventQuestionsActions.remove(question)">
                  <svg-icon icon="archive" class="ui-f-grey-5 question__actions-button ng-isolate-scope"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>archive</title><path d="M12 0c-6.628 0-12 5.372-12 12s5.372 12 12 12 12-5.372 12-12-5.372-12-12-12zM12 23.284c-6.234 0-11.284-5.050-11.284-11.284s5.050-11.284 11.284-11.284 11.284 5.050 11.284 11.284-5.050 11.284-11.284 11.284z"></path><path d="M16.763 7.281h-9.524c-0.376 0-0.681 0.305-0.681 0.681v1.359h10.883v-1.359c0-0.001 0-0.001 0-0.002 0-0.375-0.304-0.679-0.678-0.679z"></path><path d="M7.238 16.125c0 0.376 0.305 0.681 0.681 0.681h8.162c0.376-0 0.681-0.305 0.681-0.681v-6.122h-9.524v6.122zM10.98 11.363h2.040c0.376 0 0.681 0.305 0.681 0.681s-0.305 0.681-0.681 0.681h-2.040c-0.376 0-0.681-0.305-0.681-0.681s0.305-0.681 0.681-0.681z"></path></svg></svg-icon>
                </button>
              </span>
              <!-- Archived -->
              <span ng-show="question.is_answered">
                <button class="btn btn-clear l-mr05" ng-click="$ctrl.bookmark($event, question)">
                  <span ng-show="question.is_bookmarked" class="ng-hide">
                    <svg-icon icon="star" class="question__actions-button-sm ui-f-orange-2 ng-isolate-scope"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>star</title><path d="M24.006 9.427c0 0.202-0.151 0.454-0.404 0.706l-5.196 5.095 1.211 7.214c0 0.050 0 0.151 0 0.252 0 0.202-0.050 0.404-0.151 0.504-0.101 0.151-0.202 0.252-0.404 0.252s-0.404-0.101-0.605-0.202l-6.457-3.38-6.457 3.38c-0.202 0.101-0.404 0.202-0.605 0.202s-0.353-0.101-0.454-0.252c-0.101-0.101-0.151-0.303-0.151-0.504 0-0.050 0-0.151 0.050-0.252l1.211-7.214-5.246-5.095c-0.202-0.303-0.353-0.504-0.353-0.706 0-0.353 0.303-0.605 0.807-0.656l7.264-1.059 3.228-6.558c0.202-0.404 0.404-0.605 0.706-0.605s0.504 0.202 0.706 0.605l3.228 6.558 7.264 1.059c0.504 0.050 0.807 0.303 0.807 0.656z"></path></svg></svg-icon>
                  </span>
                  <span ng-show="!question.is_bookmarked">
                    <svg-icon icon="star-o" class="question__actions-button-sm ui-f-grey-10 ui-f-h-grey-2 ng-isolate-scope"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>star-o</title><path d="M16.389 14.573l4.439-4.288-6.104-0.908-2.724-5.498-2.724 5.498-6.104 0.908 4.439 4.288-1.059 6.053 5.448-2.875 5.448 2.875zM24.006 9.427c0 0.202-0.151 0.454-0.404 0.706l-5.196 5.095 1.211 7.214c0 0.050 0 0.151 0 0.252 0 0.504-0.151 0.757-0.555 0.757-0.202 0-0.404-0.101-0.605-0.202l-6.457-3.38-6.457 3.38c-0.202 0.101-0.404 0.202-0.605 0.202s-0.353-0.101-0.454-0.252c-0.101-0.101-0.151-0.303-0.151-0.504 0-0.050 0-0.151 0.050-0.252l1.211-7.214-5.246-5.095c-0.202-0.303-0.353-0.504-0.353-0.706 0-0.353 0.303-0.605 0.807-0.656l7.264-1.059 3.228-6.558c0.202-0.404 0.404-0.605 0.706-0.605s0.504 0.202 0.706 0.605l3.228 6.558 7.264 1.059c0.504 0.050 0.807 0.303 0.807 0.656z"></path></svg></svg-icon>
                  </span>
                </button>
                <button class="btn btn-clear" ng-click="$event.stopPropagation(); $ctrl.EventQuestionsActions.undelete(question)">
                  <svg-icon icon="retore" class="ui-f-grey-5 ui-f-h-grey-2 question__actions-button ng-isolate-scope"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>retore</title><path d="M12 0c-6.628 0-12 5.372-12 12s5.372 12 12 12 12-5.372 12-12-5.372-12-12-12zM12 23.284c-6.234 0-11.284-5.050-11.284-11.284s5.050-11.284 11.284-11.284 11.284 5.050 11.284 11.284-5.050 11.284-11.284 11.284z"></path><path d="M12.525 7.338c-2.575 0-4.659 2.088-4.662 4.662h-1.556l2.072 2.072 2.072-2.072h-1.556c0-2.003 1.622-3.625 3.625-3.625 2 0 3.628 1.625 3.628 3.625 0.003 2-1.616 3.622-3.616 3.625-0.756 0-1.494-0.234-2.109-0.675l-0.734 0.744c2.034 1.569 4.959 1.191 6.528-0.844 0.628-0.816 0.969-1.819 0.969-2.85 0.006-2.575-2.084-4.662-4.659-4.662v0z"></path></svg></svg-icon>
                </button>
              </span>
            </div>
          </div><!-- end ngRepeat: question in $ctrl.mobileQuestions | limitTo:$ctrl.config.limits.public track by question.event_question_id -->
        </div>
